{% extends 'main/base.html' %}

{% block content %}
    <table class="table table-striped table-bordered table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Task</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>
                    <input type="checkbox"  id="customControlValidation1" value="{{ task.status }}">
                </td>
                 <td>
                    <label for="customControlValidation1">{{ task.name }}</label>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}