{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
       <table class="table table-striped mt-5" style="border: 2px solid">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Sender</th>
              <th scope="col">Subject</th>
              <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
                <tr>
                  <th scope="row">{{ email.pk }}</th>
                  <td>{{ email.mail_sender }}</td>
                  <td>{{ email.subject }}</td>
                  <td>{{ email.message }}</td>
                </tr>
            {% endfor %}
        </tbody>
     </table>
    </div>
{% endblock content %}